*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    background-color: #FFF8E3;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.circulo-fundo{
    position: absolute;
    top: 10;
    left: 50%;
    z-index: -1; /* fica atrás do texto */
}

.container{
    position: relative;
    z-index: 1; /* fica na frente */
    bottom: -100px;
    left: 30vw;

}

h1, h3{
    font-family: 'Poppins', sans-serif;
    background-color: #E8787E;
    width: fit-content;
    padding: 10px;
    color: rgb(251, 246, 246);
}


footer {
    position: absolute;
    bottom:0px;
    width: 100vw;
    color: rgb(251, 246, 246);
    text-align: center;
    font-family: 'Poppins', sans-serif;
        margin-bottom: 0px;
}

footer img{
    width: 100%;
    margin-bottom: 0px;
}

.butao{

    width: 100%;
}

a{
    position: absolute;
    z-index: 2;
    top: 350px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    padding: 12px 24px;
    background-color: #E8787E;
    color: white;
    text-decoration: none;
    border-radius: 60px;
    font-family: 'Poppins', sans-serif;
}
